@use './abstracts/normalize';
@use './abstracts/fonts';
@use './abstracts/grid';
@use './utilities/colors' as *;
@use './utilities/sizing' as *;
@use './utilities/utilities' as *;
@use './utilities/typography' as *;

*{
  font-family: fonts.$font;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: $dark;
  color: $white;
}

section{
  padding: 60px 10px;
}

ul{
  padding: 0;
  list-style: none;
}

//intro section text offset 
$text-offset: 45%;


.intro{
  .info{
    width: max-content;
    max-width: 300px;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 40px;
    font-size: .8rem;
    font-weight: 300;
    & > li:not(:last-child){
      margin-bottom: 8px;
    }
  }
  h1{
    margin-bottom: 15px;
    max-width: max-content; 
    position: relative;
  }
  .text-animate{
    position: relative;
    visibility: hidden;
    &::after{
      position: absolute;
      left: 0;
      right: 0;
      visibility: visible;
      overflow: clip;
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
    }
  }
    .text-1::after{
      content: 'MO';
      animation: text-glitch-full 2s ease-in infinite;
    }
    .text-2::after{
        content: 'DE';
        animation: text-glitch-half 2s ease-in infinite;
    }
    .text-3::after{
      content: 'EC';
      animation: text-glitch-full 2s ease-in infinite;
    }
}

@media( min-width: 768px )  {
  section{
      padding: 100px 40px 40px 40px;
      background: radial-gradient( circle at top left,  lighten( $dark, 6% ) 10%, $dark 25%, $dark );
  }
  .intro{
      min-height: 100vh;
      h1{
        margin-bottom: 0;
        line-height: 1;
      }
      h2{
        width: calc(100% - $text-offset);
        transform: translateX( $text-offset );
     }
    & .info{
      margin-right: 25%;
    }
  }
  .intro .intro-text-left{
      margin-left: -$text-offset;
  }
}

// $head-min-height: 4.2rem;
$head-min-height: 1em;

@keyframes text-glitch-full{
  0%{
    height: 0em;
  }
  10%{
    height: calc( $head-min-height / 1.1 );
  }
  15%{
    height: 0em;
  }
  25%{
    height: $head-min-height;
  }
  50%{
    height: $head-min-height;
  }
  
  100%{
   //height 100%
    height: $head-min-height;
  }
}

@keyframes text-glitch-half{
  0%{
    height: calc( $head-min-height / 1.7 );
  }
  15%{
    height: $head-min-height / 1 ;
  }
  25%{
    height: $head-min-height;
  }
  50%{
    height: $head-min-height;
  }
  
  100%{
   //height 100%
    height: $head-min-height;
  }
}