$white: #fff;
$gray: #7D87AC;
$blue: #0772FF;
$dark: #040817; 
$glitch-clr: #040817;
.text-dark{
    color: $dark;
}
.text-blue{
    color: $blue;
}
.text-white{
    color: $white;
}
.text-gray{
    color: $gray;
}
.text-transparent{
    color: transparent;
}
.bg-dark{
    background-color: $dark;
}
.bg-blue{
    background-color: $blue;
}
.bg-white{
    background-color: $white;
}
.bg-gray{
    background-color: $gray;
}