.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.justify-space-around{
   justify-content: space-around;
}
.justify-space-between{
    justify-content: space-between;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.overflow-hidden{
    overflow: hidden;
}